
hr{
    color: #3498db ;
}
.section{
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.219);
}
/* nav styling start */
.nav{
    background: #2980b9;
}

.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    display: inline-block;
    padding: 15px;
    transition-property: all ;
    transition: 0.5s;
}

.menu ul li a{
    text-decoration: none;
    color: #ecf0f1;
}
.menu ul li:hover{
    background: #3498db;
    transition: 0.5s;
}
/* nav styling end */

/* banner styling start */
.banner{
    position: relative;
    background-image: url(jeremy-dorrough-5BfUJ9h4ID0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.452);
    z-index: 1;
}
.banner > *{
    position: relative;
    z-index: 100;
} 
#banner-header{
    display: inline-block;
    margin-top: 50px;
    color: #2980b9;
}
#banner-content{
    margin-top: 20px;
    background: #0099ff96;
    color: white;
}
/* banner styling end */

.services{
    text-align: center;
}
.services-header{
    color: #2980b9;
}
.sicon{
    font-size: 50px;
}

.testimonials{
    text-align: center;
}
.testimonial-header{
    color: #2980b9;
}
.testimonial img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.footer{
    background: #2980b9;
}
.ficon{
    color: black;
}









/* nav media query start */
@media only screen and (max-width:786px) {
    .company-name h1{
        text-align: center;
    }
    .menu{
        text-align: center;
        padding: 0px;
    }
    .menu ul li{
        padding: 5px;
    }
}
/* nav media query end */

    .footer{
        text-align: center;
    }



